@font-face {
    font-family: 'Raleway';
    src: url('../font/Raleway-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

body{
    font-family: "Raleway";
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}

.activo{
    background-color: lightslategray;
}

.derecha{
    float: right;
}

.titulo-content{
    font-style: italic;
}

.content{
    background-color:lightblue;
    padding: 5px;
    margin: 5px 0px;
    text-align: center;
}